@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

body{
    @apply bg-[#10141E] text-white
}

@layer utilities{
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .scrollbar{
    scroll-padding-top: 1em;
     scrollbar-color: #eeeeee25 #10141E;
     scroll-behavior: smooth;
    }
}